@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

.donate .items > .item-list {
	grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	grid-gap: 20px;
	display: grid;
	margin: 20px;
}

@media (max-width: 1099px) {
	.header .wrapper {
		padding: 80px;
		grid-template-columns: auto auto;
	}

	.donate .tabs > .tab-links {
		padding: 34px 105px;
	}

	.modal[data-id="restore"] > .wrapper {
		width: 100%;
	}
}

@media (max-width: 991px) {

	.header .wrapper {
		padding: 60px;
	}

	.header .wrapper h1 {
		font-size: 20px;
		line-height: normal;
	}

	.header .wrapper .subinfo {
		padding-top: 12px;
	}

	.header .wrapper .subinfo span {
		display: block;
	}

	.donate .tabs > .tab-links {
		padding: 22px 0;
	}
}

@media (max-width: 767px) {
	.donate {
	}

	.donate .tabs > .tab-links {
		/* grid-template-columns: 100%; */
	}

	.donate .tabs > .tab-list > .tab-id {
	}

	.donate .tabs > .tab-links > li {
		padding-right: 0;
		padding-bottom: 20px;
	}

	.donate .tabs > .tab-links > li:last-child {
		padding: 0;
	}

	.donate .tabs > .tab-links > li .tab-link {
		font-size: 18px;
		line-height: 20px;
		height: 20px;
		background-color: transparent;
	}
}

@media (max-width: 639px) {
	.header .wrapper {
		padding: 90px 33px;
		height: auto;
		grid-template-columns: 100%;
	}

	.header .wrapper > .block-left,
	.header .wrapper > .block-right {
		text-align: center;
		position: relative;
	}

	.header .wrapper > .block-right {
		position: relative;
		text-align: left;
		padding-left: 120px;
	}

	.header .wrapper .ip {
		margin-top: 0;
		height: 38px;
		line-height: 38px;
		width: 143px;
	}

	.header .wrapper .ip button {
		width: 38px;
		height: 38px;
		line-height: 30px;
		padding-bottom: 8px;
	}

	.header .wrapper > .block-right h1,
	.header .wrapper .online-block {
		position: absolute;
		top: 0;
		left: 0;
	}

	.header .wrapper > .block-right h1 {
		font-size: 15px;
	}

	.header .wrapper .online-block {
		top: 20px;
	}

	.header .wrapper .online-block .pic {
		transform: scale(0.6);
		margin-top: -2px;
	}

	.header .wrapper .online-block #online,
	.header .wrapper .online-block > span {
		font-size: 11px;
	}

	.header .wrapper .online-block > span {
		margin-left: -4px;
	}
}

@media (max-width: 539px) {
	#confirm .parts {
		grid-template-columns: 100%;
		padding-bottom: 0;
		grid-gap: 20px;
	}

	#confirm .parts #alter-choice,
	#confirm .parts #confirm-choice {
		width: 100%;
	}

	#confirm .parts #confirm-choice {
		padding: 40px;
	}
}

@media (max-width: 359px) {
	.header .wrapper > .block-right h1,
	.header .wrapper .online-block {
		position: static;
	}

	.header .wrapper > .block-right {
		padding-left: 0;
		text-align: center;
	}

	.header .wrapper .ip {
		margin: 8px auto 0 auto;
	}
}