body {
    background-color: #080E1F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-message {
    text-align: center;
    margin-right: 20px;
}

.error-image {
    width: 300px;
    height: 300px;
}

.error-text {
    width: 500px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .error-message {
        margin: 20px;
    }

    .error-image {
        display: none
    }

    .error-text {
        width: 100%;
    }

    h1 {
        font-size: 31px;
    }

    form {
        margin-right: 40px;
        margin-left: 40px;
    }
}