@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Nitro Hub.com / Магазин с Discord Nitro</title>
    <meta charset="UTF-8">
    <script async src="https://telegram.org/js/telegram-widget.js" data-telegram-login="veyrenshop" data-size="medium" data-auth-url="https://Nitro Hub.com/go/telegram" data-request-access="write"></script>
    <link rel="shortcut icon" type="~/image/png" href="~/static/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1;">

    

        <meta name="description" content="Nitro Hub.com — это один из лучших магазинов для покупки Discord Nitro! Здесь вы сможете приобрести нитро / бусты / украшения для вашего профиля по самым вкусным ценам">
        <meta property="og:description" content="Nitro Hub.com — это один из лучших магазинов для покупки Discord Nitro! Здесь вы сможете приобрести нитро / бусты / украшения для вашего профиля по самым вкусным ценам">
        <meta name="og:title" content="Nitro Hub.com - дискорд шоп">
        <meta name="og:description" content="Nitro Hub.com — это один из лучших магазинов для покупки Discord Nitro! Здесь вы сможете приобрести нитро / бусты / украшения для вашего профиля по самым вкусным ценам">
        <meta name="og:image" content="/static/img/logo.png"/>

        <meta name="keywords" content="nitro, нитро, дискорд, юнитсторе, юнитстор">

    

    <meta name="theme-color" content="#bd92f5"/>
    
    <script>
      app = {
        token: 'Z9a0F7KieHPyLaG1EKtrjVyEiHSIFPxBrH49rFr/asBWoV9RqqPVAhDdb2gDzUd1hjcOt+CH5zaPxu7eZEDYBGZJ7mFYT+onlzFPRYPmDOg=',
        site_url: '/',
        unixtime: 1668271498,
        diff: (Date.now() / 1000).toFixed()-1668271498
      };
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="https://thecode.media/wp-content/uploads/2019/12/snowfall2020.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/static/css/pipui.min.css.css">
    <link rel="stylesheet" href="~/static/css/pipui-responsive.min.css.css">
    <link rel="stylesheet" href="~/static/css/pipui.theme.css.css">
    <link rel="stylesheet" href="~/static/css/pipui.theme-responsive.css.css">
    <link href="~/static/css/Acrom.css" rel="stylesheet">
    <script src="~/static/js/pipui.min.js"></script>
    <script src="~/static/js/wow.min.js"></script>
    <script src="~/static/Main/js/script.js"></script>
    <link rel="stylesheet" href="~/static/Main/css/style.css.css">
    <link rel="stylesheet" href="~/static/Main/css/style-responsive.css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.js"></script>
</head>
<body>

<div class="navbar" id="scrolltop">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="nav-left">
                <span href="#" rel="nofollow" class="nav-mobile"><i class="pic pic-mobile"></i></span>
                <img src="static/img/logo.png" alt="" width="40" style="border-radius: 10px; margin-top: 40px; margin-left: 10px; position: absolute; background-color: #0d152d;"><a class="nav-brand logo" href="index.html"><span class="nav-brand-text">Nitro Hub.com</span></a>
            </div>

            <div class="nav-center">
                <ul class="navbar-menu">
                    <li class="nav-li">
                        <a href="tos.html#" class="nav-link" rel="nofollow" data-modal="social-links"><i class="pic pic-chathelp"></i> <span class="text-preloader">О проекте</span></a>
                    </li>

                    

                        <li class="nav-li">
                            <a href="tos.html#" rel="nofollow" data-modal="auth" class="nav-link"><i class="pic pic-login"></i> <span class="text-preloader">Личный кабинет</span></a>
                        </li>

                    
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="modal" data-id="auth" id="auth">
        <div class="wrapper">
            <div class="modal-content">
                <a href="tos.html#" rel="nofollow" data-modal-close>&times;</a>
                <div class="modal-header">Авторизация</div>
                <div class="modal-body" style="margin-bottom: 0px"><br>

                <form method="post" action="https://Nitro Hub.com/v">
                    <div class="center"> 
                        <div class="email-input-container">
                            <input name="email" type="email" style="border-radius: 8px;" placeholder="Электронная почта">

                            <button onclick="cooldown()" class="btn auth-email-checkmark">
                                <span style="font-weight: bold; font-size: 14px">ВОЙТИ</span>
                            </button>

                        </div>

                        <span class="text-bold" style="color: gray; text-align: center;">ИЛИ АВТОРИЗОВАТЬСЯ ЧЕРЕЗ:</span><br><br>
                    </div>
                </form>

                <div class="auth-buttons">
                    <button onclick="window.location='/login/google';" class="btn auth-button">
                        <img loading="lazy" src="static/img/google.png" alt="Google">
                    </button>

                    <button onclick="cooldown()" class="btn auth-button telegramLogin">
                        <img loading="lazy" src="static/img/tg.png" alt="Telegram">
                    </button>

                    <button type="button" onclick="window.location='/login/vk';" class="btn auth-button">
                        <img loading="lazy" src="static/img/vk.png" alt="ВКонтакте">
                    </button>

                    <button type="button" onclick="window.location='/login/discord';" class="btn auth-button">
                        <img loading="lazy" src="static/img/discord.png" alt="Дискорд">
                    </button>
                </div>

                <script>
                $('.telegramLogin').on('click', e => {
                    e.preventDefault()
                    const url = new URL('https://oauth.telegram.org/auth') 
                    for(const [ key, value ] of Object.entries({
                        bot_id: "5584149290",
                        origin: "https://Nitro Hub.com/go/telegram"
                    })) url.searchParams.set(key, value)
                    
                    
                    const openParams = {
                        width: 550,
                        height: 470,
                        status: 0,
                        location: 0,
                        menubar: 0,
                        toolbar: 0
                    }
                    
                    openParams.left = Math.max(0, (screen.width - openParams.width) / 2) + screen.availLeft
                    openParams.top = Math.max(0, (screen.height - openParams.height) / 2) + screen.availTop
                    
                    const win = window.open(
                        url.href,
                        'ee_oauth_telegram',
                        Object.entries(openParams).map(([k, v]) => `${k}=${v}`).join(',')
                    )
                })
                window.addEventListener('message', e => {
                
                    if(!e.origin || e.origin !== 'https://oauth.telegram.org') return
                    if(typeof e.data !== 'string') return
                    const data = JSON.parse(e.data)
                    
                    console.log(data);
                    
                    if(data.event === 'auth_result') {
                        const $form = $('<form action="https://Nitro Hub.com/go/telegram" method="POST"/>')
                        $('<input name="code">')
                            .attr('value', JSON.stringify(data.result))
                            .appendTo($form)
                        $form.appendTo('body').submit()
                    }
                })
            </script>

                </div>
                </div>
            </div>
        </div>
    </div>

    

    <script>
        $('button.but').on('click', function() {
            $('#balance_input').val( $(this).val() );
        });
    </script>

    

    

    <div class="modal" data-id="tutorial-1m-nitro-free" id="tutorial-1m-nitro-free">
        <div class="wrapper">
            <div class="modal-content">
                <a href="tos.html#" rel="nofollow" data-modal-close>&times;</a>

                <div class="modal-header">1 МЕСЯЦ БЕСПЛАТНО</div>
                    <div class="modal-body">
                        Чтобы узнать, есть ли у вас бесплатное нитро на аккаунте, вам нужно зайти в Дискорд с ВПН<br><br>

                        1. Устанавливайте любой ВПН (Лучшие и проверенные нами: Adguard VPN, Pure VPN, 4ebur.net)<br><br>

                        2. Выбираете любую локацию кроме РФ<br><br>

                        3. Перезапускаете Дискорд<br><br>

                        4. Заходите в настройки пользователя<br><br>

                        5. Заходите во вкладку <span style="font-weight: bold; color: #cc34eb">Nitro</span><br><br>
                        
                        6. У вас должна быть следующая картина:<br><br>

                        <div class="preloader" style="background-color: rgba(0, 0, 0, 0.3); border-radius: 10px; width: 500px; height: 438px; margin-top: 10px">
                           <a href="static/items/discord-1m-free.png" target="_blank"><img width="1056" style="border-radius: 10px" alt="" loading="lazy" src="static/items/discord-1m-free.png"></a>
                        </div>

                </div>
            </div>
        </div>
    </div>

    

    

    <form method="get" class="modal" data-id="social-links" id="social-links">
        <div class="wrapper">
            <div class="modal-content">
                <a href="index.html#" rel="nofollow" data-modal-close>&times;</a>
                <div class="modal-header"><i class="pic pic-chathelp emoji"></i> О проекте</div>

                <div class="modal-body">
                    Создание проекта: 17 марта 2023 года
                    <br><br>

                    <a target="_blank" href="https://discord.com/invite/SgrAFN5qX8">
                        <button onclick="cooldown()" type="button" class="btn method">
                            <img loading="lazy" width="40" src="static/img/discord.png"><span class="method-text">Дискорд Cервер</span>
                        </button>
                    </a>

                    <a href="tg://resolve?domain=unitstorenews">
                        <button onclick="cooldown()" type="button" class="btn method">
                            <img loading="lazy" width="40" src="static/img/tg.png"><span class="method-text">Телеграм Канал</span>
                        </button>
                    </a>

                    <a href="tg://resolve?domain=unitstoresup">
                        <button onclick="cooldown()" type="button" class="btn method">
                            <img loading="lazy" width="40" src="static/img/chathelp.png"><span class="method-text">Тех. Поддержка</span>
                        </button>
                    </a>

                    <a target="_blank" href="reviews.html">
                        <button onclick="cooldown()" type="button" class="btn method">
                            <img loading="lazy" width="40" style="border-radius: 8px" src="static/img/payments/lolzteam.png"><span class="method-text">Отзывы на Лолзтим</span>
                        </button>
                    </a>

                </div>

                </div>
            </div>
        </div>
    </form>

    

<div class="main">
    <div class="header">
    <div class="container">
                <div style="background-image: url(/static/img/top-blockBLACK.png); background-color: #1d0d2d;" class="wrapper">
            <div class="block-left">
            </div> 
        </div>
    </div>
</div>


<div class="container">
	 <div class="static-page" id="page-rules">
		  <div class="pagename">Пользовательское соглашение</div>

		  <div class="section text-bold" style="padding: 15px; border-radius: 15px; background-color: #1d0d2d; margin-top: 15px">
				<ul>
					 <li>Общие положения Пользовательского соглашения
<br><br>
1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон применяются следующие термины и определения:<br>
а) Платформа — программно-аппаратные средства, интегрированные с Сайтом Администрации;<br>
б) Пользователь — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе либо выступающее от имени и в интересах представляемого им юридического лица.<br>
в) Сайт Администрации/ Сайт — интернет-сайты, размещенные в домене Nitro Hub.com и его поддоменах.<br>
г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.<br>
д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.<br>
<br>
1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая:<br>
— просмотр размещенных на Сайте материалов;<br>
— регистрация и/или авторизация на Сайте;<br>
— размещение или отображение на Сайте любых материалов, включая но не ограничиваясь такими как: тексты, гипертекстовые ссылки, изображения, аудио и видео- файлы, сведения и/или иная информация; создает договор на условиях настоящего Соглашения в соответствии с положениями ст.437 и 438 Гражданского кодекса Российской Федерации.<br>
<br>
1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br>
а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала<br>
использования Сервиса.<br>
б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование<br>
Сервиса. Если вы не согласны с условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса.<br>
в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения.<br>
<br>
</li>
<li>Общие условия пользования Сервисом
<br><br>
2.1. Использование функциональных возможностей Сервиса допускается только после прохождения Пользователем регистрации и авторизации на Сайте в соответствии с установленной Администрацией процедурой.<br>
2.2. Технические, организационные и коммерческие условия использования Сервиса, в том числе его функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.<br>
2.3. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.<br>
2.4 Сайт Nitro Hub.com является поставщиком услуг<br>
2.5 Все, что так или иначе было приобретено Пользователем на Сайте является услугой и выполняется на усмотрение Администрации Сайта</li>
				</ul>

				<!-- <div class="pt-40"></div> --> 

				<!-- <div class="pt-20 text-right">
					 Последние правки: <b class="d-inline-block px-20 bg-orange text-white">24.01.2023</b>
				</div> --> 
		  </div>
	 </div>
</div></div>


    <style>
        body {
            background-image: url(static/img/header.png);
        }
    </style>

    <style>
        body {
            background-color: #190a25;
        }

        .donate .items > .item-list > .item-id {
            background: #2d253f;
        }

        .donate .tabs > .tab-links > li .tab-link:hover,
        .donate .tabs > .tab-links > li .tab-link.active {
            color: #fff;
        }

        .donate .items > .item-list > .item-id > .title, .donate .items > .item-list > .item-id > .price {
            color: #e1c5e8;
        }

        .donate .items > .item-list > .item-id > .price {
            color: #e1c5e8;
        }

        .button-price:hover {
            background-color: #825fa5;
            transition: all 0.3s ease-out;
        }

        body > .navbar .navbar-wrapper .nav-link:after {
            bottom: -10px;
            left: 0;
            height: 3px;
            background-color: #956fa6;
            border-radius: 1.5px;
        }

        .modal > .wrapper > .modal-content {
            background: #2b2235;
        }

        .modal[data-id="donate"] > .wrapper > .modal-content .description {
            color: #e1c5e8;
        }

        .modal > .wrapper > .modal-content > .modal-header {
            color: #e1c5e8;
        }

        .modal[data-id="donate"] > .wrapper > .modal-content #input-amount input {
            background: #272130;
        }

        .shadow {
            background-color: #67467d;
            color: #e1c5e8;
        }

        .donate .items > .item-list > .animate:hover {
            background-color: #5c4b6f;
        }

        .static-page .pagename {
            color: #e1c5e8;
        }

        .minimal {
            color: #e1c5e8;
        }

        .plus {
            color: #e1c5e8;
        }

        .minus {
            color: #e1c5e8;
        }

        input {
            color: #e1c5e8;
            background-color: #1e1324;
        }

        .static-page .section ul > li {
            color: #e1c5e8;
        }

        .pt-20 {
            color: #e1c5e8;
        }

        .modal > .wrapper > .modal-content > .modal-body {
            color: #e1c5e8;
        }

        .method {
            background: #583967;
        }

        .btn {
            background: #574069;
        }

        .method-text {
            color: #e1c5e8;
        }

        .donate .items > .item-list > .animate:hover > .title {
            color: #e1c5e8;
        }

        .btn {
            color: white;
        }

        .text-center {
            background-color: #221633;
            color: #e1c5e8;
        }

        .modal[data-id="donate"] > .wrapper > .modal-content input, .modal[data-id="auth"] > .wrapper > .modal-content input, .modal[data-id="2fauth"] > .wrapper > .modal-content input, .modal[data-id="donate"] > .wrapper > .modal-content textarea, .modal[data-id="auth"] > .wrapper > .modal-content textarea, .modal[data-id="2fauth"] > .wrapper > .modal-content textarea {
            background: #1e1324;
        }

        .nav-center > .navbar-menu > .nav-li > .nav-link {
            color: #e1c5e8;
            border-radius: 7px;
        }

        .show-more a {
            color: #e1c5e8;
        }

        .auth-email-checkmark {
            background-color: #1f1324;
            color: #e1c5e8;
        }

        .auth-button {
            background-color: #1f1324;
        }

        .show-more:hover a {
            color: #e1c5e8;
        }

        .minimal-text {
            color: #736187;
            font-size: 13px;
        }

        .small-text {
            color: #c282c9;
            font-size: 10px;
        }



        .navbar.open .navbar-wrapper > .nav-right, .navbar.open .navbar-wrapper > .nav-center {
            background-color: #1b264d;
        }

        body > footer {
            background-color: #0c0112;
        }

        .navbar .navbar-wrapper .nav-link.active, .navbar .navbar-wrapper .nav-link:active, .navbar .navbar-wrapper .nav-link:hover, .navbar .navbar-wrapper .nav-mobile:active, .navbar .navbar-wrapper .nav-mobile:hover, .navbar.open .navbar-wrapper .nav-mobile {
            background: #805aa5;
        }

        .btn:hover {
            background-color: #825fa5;
        }

        .navbar.open .navbar-wrapper > .nav-right, .navbar.open .navbar-wrapper > .nav-center {
            background-color: #411b4d;
        }

        .navbar .navbar-wrapper .nav-mobile:active, .navbar .navbar-wrapper .nav-mobile:hover {
            background: #9988b3;
        }

        .navbar .navbar-wrapper .nav-mobile:hover {
            background: #9988b3;
        }

        .navbar .navbar-wrapper .nav-mobile {
            background: #9988b3;
        }

            .navbar .navbar-wrapper .nav-mobile:hover {
                background-color: #9988b3;
            }

        .static-page .section ul > li:before {
            background-color: #bd92f5;
        }
    </style>



<script>
setTimeout(function(){
    $.get('/tracker?url=/tos&timezone=' + Intl.DateTimeFormat().resolvedOptions().timeZone, function(data) {});
}, 10);
</script>

<script>
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}
</script>

<footer class="footer">
    <div class="container">
        <div class="block-left">
            <a href="index.html" class="logo"><span class="text-preloader logo-text">Nitro Hub.com</span></a>
        </div>

        <div class="block-center-right">
            <ul class="social-links">
                <li>
                    <a class="footer-link" href="tos.html"><span class="text-preloader">Пользовательское соглашение</span></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<style>
body {
    background-image: url(static/img/header.png);
}
</style>

<script>
function preloader()
{
   var elements = document.getElementsByClassName("image");
   for(var i=0; i<elements.length; i++){
      elements[i].style.backgroundColor = "rgba(0, 0, 0, 0.0)";
   }
}

window.addEventListener('load', function() {
   preloader()
});

const titles = document.querySelectorAll('.title');
const after_preloader_elements = document.querySelectorAll('.after-preloader');
const texts = document.querySelectorAll('.text-preloader');

texts.forEach((text) => {
  text.style.backgroundColor = '#6c4b75';
  text.style.borderRadius = '5px';
  text.style.color = 'rgba(0,0,0,0.0)';
});

titles.forEach((title) => {
  title.style.backgroundColor = '#6c4b75';
  title.style.borderRadius = '5px';
  title.style.color = 'rgba(0,0,0,0.0)';
  title.style.fontSize = "14px";
});

after_preloader_elements.forEach((after_preloader_element) => {
  after_preloader_element.style.display = 'none';
});

document.addEventListener("DOMContentLoaded", function() {
    var font = new FontFaceObserver("Acrom");
    font.load()

    function loadFont() {
        var font = new FontFaceObserver("Acrom");
        return font.load().catch(function (error) {
            console.log("Ошибка загрузки шрифта:", error);
            return loadFont();
        });
    }

    loadFont().then(function () {
        titles.forEach((title) => {
          title.style.backgroundColor = 'rgba(0,0,0,0.0)';
          title.style.color = '#e1c5e8';

          if (title.innerText.length < 23) {
            title.style.fontSize = "18px";
          } else {
            title.style.fontSize = "15.5px";
          }

        });

        texts.forEach((text) => {
          text.style.backgroundColor = 'rgba(0,0,0,0.0)';
          text.style.color = '#e1c5e8';
        });

        after_preloader_elements.forEach((after_preloader_element) => {
          after_preloader_element.style.display = '';
        });

        const logoText = document.querySelector('.logo-text');
        const navBrandText = document.querySelector('.nav-brand-text');

        logoText.style.color = 'white';
        navBrandText.style.color = 'white';
    })
    .catch(function (error) {
        console.log("Ошибка загрузки шрифта:", error);
    });
});
</script>
</body>
</html>